/*
 * titlebar - Qt Style Sheet
 * Created: 24.10.25
 */

/* Base styling */

#titleBar {
    background-color: #1f1f1f;
}


#closeButton {
    background-color: #1f1f1f;
    border: none;
    color: #7D7D7D;
}

#closeButton:hover {
    background-color: #1A1A1A;
}

#closeButton:pressed {
    background-color: #141414;
}

/* Add your QSS styles here */
